<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css" type="text/css" />
    <title>Sign Up</title>
</head>
<body>
    <div class = "max-w-[1200px] my-auto">
    <h1 class="text-blue-600">Sign Up</h1>
    <form action="/session/signup" method="POST">
        First Name: <input required type="text" name="firstName"/><br>
        Last Name: <input required type="text" name="lastName"/><br>
        Department: <input required type="text" name="department"/><br>
        Position: <input required type="text" name="position"/><br>
        Email: <input required type="email" name="email"/><br>
        Phone number: <input required type="text" name="phoneNumber"/><br>
        Picture: <input required type="url" name="picture"><br>
        Username: <input required type="text" name="username"/><br>
        Password: <input required type="password" name="password"><br>
        Confirm password: <input required type="password" name="confirmPassword"><br>
        <input type="submit" name="" value="Sign Up"/>
    </form>
    </div>
</body>
</html>
