<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs', {title: 'Signin'}) %>
</head>
<body>
    <h1 class="text-blue-600">Welcome to Nova Innovations!</h1>
    <form action="/session/signin" method="POST">
        Username: <input required type="text" name="email"/><br>
        Password: <input required type="password" name="password"><br>
        <button type="submit" class="bg-blue-500 text-white rounded-md px-4 py-2">Login</button>
    </form>
    <%- include('./partials/footer.ejs') %>
</body>
</html>